$black: #000;
$white: #fff;

$light-blue: #7ebaf1;
$primary: #3e67ba;
$warning: #e69035;
$danger: #9a1d26;
$success: #6bad5b;
$inactive: #485461;

//variations
$jungle-green: #29AB87;
$persian-green: #00A693;